.mask{
    position: relative;
    overflow: hidden;
    margin: 0px auto;
    width: 100%;
    background-color: #f4f4f4
}
.header{
    float: left;
    width: 100%;
    background-color: #f4f4f4
}
.colleft{
    position: relative;
    width: 100%;
    right: 40%;
    background-color: #f4f4f4
}
.col1{
    position: relative;
    overflow: hidden;
    float: left;
    width: 38%;
    left: 101%;
    background-color: #e6e6e6
}
.col2{

    position: relative;
    overflow: hidden;
    float: left;
    width: 100px;
    height: 100px;
    left: 3%;
    background-color: #e6e6e6
}
.footer{
    float: left;
    width: 100%;
    background-color: #b4caf7
}
canvas{
    width: 100px;
    height: 100px;
}
body {
    padding: 0px;
    margin: 0px;
    font-size: 90%;
    background-color: #e7e7de
}
#editor {

    float: left;

    /*requiere minimo 300px de height para visualizarse*/
    height: 300px;
    width: 46%;
    position: relative;
    left: 56%;
    overflow: hidden;
}
.shell-wrap {
    width: 100%;
    margin: 0;
    height: 200px;
}
.shell-top-bar{
    text-align: center;
    color: #525252;
    padding: 5px 0;
    margin: 0;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
    font-size: 0.85em;
    border: 1px solid #CCCCCC;
    border-bottom: none;

    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background: #f7f7f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}

#output{

    margin: 0;
    padding: 5px;
    list-style: none;
    background: #141414;
    color: #45D40C;
    font: 0.8em 'Andale Mono', Consolas, 'Courier New';
    line-height: 1.6em;

    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    height: 100%;
}

